# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary folders during building
build-*-Debug
build-*-Release
/build
/device/Makefile*
/device/debug
/device/release
/*-debug
/*-release

# Qt creator's temp file
*.pro.user*
*.qbs.user*

# Compiled translations
*.qm
