# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary folders during building
build-*-Debug
build-*-Release
/build
/device/Makefile*
/device/debug
/device/release
/*-debug
/*-release

# Qt creator's temp file
*.pro.user*
*.qbs.user*

# Compiled translations
*.qm

# MPLAB's temp files
/keyboard/build
/keyboard/dist
/keyboard/funclist
/keyboard/nbproject/Makefile*
/keyboard/nbproject/Package-default.bash
/keyboard/nbproject/private

# Proteus's backup files
/keyboard/schematic/*.DBK
